.slider{
    overflow: hidden;
    height: 220px;
   position: relative;
    width: 100%;
    align-items: center;
}
.slider__next, .slider__prev{
    z-index: 1;
    position: absolute;
    top: 40%;
}
.slider__next{
    right: 0px;
}
.slider__prev{
    left: 0px;
}
.slider__container{
    width: 100%;
}
.item__title{
    margin: 5px;
}
.item__description, .item__price{
    font-size: 13px;
}
.slider__items{
    display: flex;
    flex-wrap: wrap;
    -webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;
    will-change: transform;
    justify-content: space-around;
}
.slider__item{
    flex: 1 0 250px;
    text-align: center;
    height: 220px;
}
.item__image{
    width: 150px;
    height: 150px;
}

